<h2>What what you like from the Coffee Cart Today?</h2>

<select>
    <option value="latte">Latte</option>
    <option value="coffee">Coffee</option>
    <option value="pourOver">Pour Over</option>
    <option value="coldBrew">Cold Brew</option>
</select>