<h2>Please Create an Account:</h2>
<form action="Result" method="post">
    UserName:<br>
    <input type="text" name="userName" required />
    <br>
    Email:<br>
    <input type="email" name="email" required/>
    <br>
    Password:<br>
    <input type="text" name="password" required minlength="8" maxlength="30"/>
    <br><br>
    <input type="submit" />
</form>
